:root {
--primary-font: "Roboto";
--secondary-font: "Raleway";
--primary-color: #FFFFFF;
--header-logo-color: #000000;
--hero-footer-bgcolor: #2F303A;
--gallery-filter-bgcolor: #F5F4FA;
--primary-text-color: #212121;
--secondary-text-color: #757575;
--accent-color: #2196F3;
} 
/* ------------------------------------------------------------------------------------------------ */
/*----------------------------------------- COMMON--------------------------------------------------*/
/* ------------------------------------------------------------------------------------------------ */
h1,
h2,
h3,
p {
    margin: 0;
}

ul,
ol {
    padding-left: 0;
    margin: 0;
}

body {
    font-family: var(--primary-font), Tahoma, sans-serif;
    background-color: var(--primary-color);
}

.link {
    text-decoration: none;
    font-style: normal;
}

.list {
    list-style: none;
}

.logo {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
/*----------------------------------------------HEADER----------------------------------------  */
.navigation {
    display: flex;
}

.logo {
    padding-top: 25px;
    padding-bottom: 25px;
    margin-right: 93px;
}

.header-logo {
    color: var(--header-logo-color);
}

.nav-list,
.header-contacts {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
}

.nav-item:not(:last-child),
.header-contacts-item:not(:last-child) {
    margin-right: 50px;
}

.nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
} 

.nav-link:hover,
.nav-link:focus {
    color: var(--accent-color);
}

.nav-current {
    color: var(--accent-color);
}

.header-contacts-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
}

.header-contacts-link:hover,
.header-contacts-link:focus {
    color: var(--accent-color);
}

.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*----------------------------------------------FOOTER------------------------------------------  */

.footer {
    background-color: var(--hero-footer-bgcolor);
}

.container-footer {
    display: flex;
    flex-direction: column;
}

.footer .logo {
    margin-top: 60px;
    margin-bottom: 20px;
}

.footer-logo {
    color: var(--primary-color);
}

.footer-item:not(:last-child) {
    margin-bottom: 10px;
}

.footer-item:last-child {
    margin-bottom: 60px;
}
.footer-link {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.footer-link-address-color {
    color: var(--primary-color);
}

.footer-link-contact-color {
    color: rgba(255, 255, 255, 0.6);
}
/* ------------------------------------------------------------------------------------------------ */
/*----------------------------------------- STUDIO--------------------------------------------------*/
/* ------------------------------------------------------------------------------------------------ */


/*----------------------------------------------HERO------------------------------------------  */

.hero {
    background-color: var(--hero-footer-bgcolor);
}

.hero-container {
    display: flex;
    flex-direction: column;
}
.hero-title {
    display: inline-block;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-color);
    margin: 0 auto;
    margin-top: 200px;
    margin-bottom: 30px;
    max-width: 696px;
}

.hero-button {
    min-width: 200px;
    height: 50px;
    flex-shrink: 0;
    background-color: var(--accent-color);
    border: var(--accent-color);
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    text-align: center;
    color: var(--primary-color);
    cursor: pointer;
    margin: 0 auto;
    margin-bottom: 200px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding-right: 10px 32px;

}

/*----------------------------------------------ADVANTAGES------------------------------------  */
.advantages-list {
    display: flex;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.advantages-item:not(:last-child) {
    margin-right: 30px;
}

.advantages-item-title {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-text-color);
    margin-top: 94px;
    margin-bottom: 10px;
}


.advantages-item-text {
    font-size: 14px;
    line-height: 1.71;    
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
    margin-bottom: 94px;
}

/*----------------------------------------------DOING-----------------------------------------  */

.doing-title {
    color: var(--primary-text-color);
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}
.doing-list {
    display: flex;
    margin-left: -30px;
}


.doing-item {
    margin-bottom: 94px;
    width: calc(100% / 3 - 30px);
    margin-left: 30px;
}

.doing-image {
    display: block;
    width: 100%;
    height: auto;
}

/*----------------------------------------------TEAM------------------------------------------  */
.team-title {
    color: var(--primary-text-color);
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}

.team-list {
    display: flex;
    margin-left: -30px;
}

.team-item {
    width: calc(100% / 4 - 30px);
    margin-left: 30px;
    margin-bottom: 94px;
}

.team-image {
    margin-bottom: 30px;
}

.team-item-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin-bottom: 10px;
}

.team-item-text {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}

/* ------------------------------------------------------------------------------------------------ */
/*----------------------------------------- PORTFOLIO-----------------------------------------------*/
/* ------------------------------------------------------------------------------------------------ */

.gallery-filter {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.gallery-filter-item:not(:last-child) {
    margin-right: 8px;
}

.gallery-filter-btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    background-color: var(--gallery-filter-bgcolor);
    border: var(--gallery-filter-bgcolor);
    color: var(--primary-text-color);
    border-radius: 4px;
    cursor: pointer;
    padding: 6px 22px;
}

.gallery-filter-btn:hover,
.gallery-filter-btn:focus {
    color: var(--primary-color);
    background-color: var(--accent-color);
    border: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
                0px 1px 2px rgba(0, 0, 0, 0.08),
                0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.gallery-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
}

.gallery-item {
    width: calc(100% / 3 - 30px);
    margin-left: 30px;
}

.gallery-image {
    margin-bottom: 20px;
}

.gallery-title-text {
    margin-left: 24px;
}

.gallery-item-title {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
    margin-bottom: 5px;
}

.gallery-text {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
    margin-bottom: 20px;
}